.justify-between{
    padding-left: 200px;
}

.Create{
    margin-top: 5px;
    padding-top: 2px;
    margin-bottom: 10px;
}

.table-container {
    max-width: 100%;
    overflow-x: auto;
  }
  .container {
    max-width: 100%;
    overflow-x: auto;
  }
    