.edit-seat-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit-form {
    width: 300px;
}

.input-field {
    width: 100%;
}

.edit-seat-actions {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

